In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
#from config import g_key
#from config import weather_api_key
%store -r g_key
print(g_key)

AIzaSyCzx95h1cpKJ2i7u9coJ1VvQwbOYbgWLWA

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kandrian,PG,2022-04-17 15:51:17,-6.2167,149.5500,298.47,88,97,2.12
1,1,Port Alfred,ZA,2022-04-17 15:47:51,-33.5906,26.8910,292.69,78,97,3.24
2,2,Menongue,AO,2022-04-17 15:51:18,-14.6585,17.6910,294.73,82,77,2.11
3,3,Fukue,JP,2022-04-17 15:51:18,32.6881,128.8419,288.65,46,98,3.78
4,4,Vaini,TO,2022-04-17 15:51:18,-21.2000,-175.2000,298.24,94,40,2.57